*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: orange;
}
.landing-page{
    text-align: center;
    color: white;
    margin-top: 30px;
}
.div1{
    width: 80%;
    height: 550px;
    margin-left: 10%;
    background-color: white;
    margin-top: 30px;
}
.navbar{
    width: 100%;
    height: 50px;
    display: flex;
}
.list-icon{
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.list{
    width: 70%;
    height: 3px;
    background-color: orange;
    border-radius: 2px;
}
.navcontent{
    width: 50%;
    height: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    gap: 2px;
    align-items: center;
}
.navcontent a{
    text-decoration: none;
    font-size: 12px;
    width: 18%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    transition: 0.2s;
}
.navcontent a:hover{
    background-color: orange;
    color: white;
}
.navcontent2{
    width: 25%;
    height: 50px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navcontent2 a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.navcontent2 #a1:hover{
    text-decoration: underline;
}
.profile-box{
    width: 55%;
    height: 40px;
    background-color: orange;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    color: white;
}
.profile-box2{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}
.profile-circle{
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    position: relative;
    left: 9px;
    top: 4px;
}
.profile-rec{
    width: 60%;
    border-radius: 5px;
    height: 5px;
    background-color: orange;
    margin-top: 8px;
    margin-left: 20%;
}
.div2{
    width: 80%;
    height: 270px;
    margin-left: 10%;
    margin-top: 30px;
    display: flex;
}
.div3{
    width:60%;
    height: 270px;
}
.about-us{
    width: 37%;
    letter-spacing: 5px;
    color: orange;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 13px;
}
.we-are-the-top{
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.learning-platform{
    width: 74%;
    color: orange;
    font-weight: 600;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.para{
    width: 80%;
    height: 80px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    margin-left: 15px;
}
.buttons{
    width: 80%;
    height:60px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
}
.buttons #btn1{
    width: 40%;
    height: 40px;
    border-radius: 18px;
    border: 2px solid rgb(255, 136, 0);
    background-color: orange;
    color: white;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
}
.buttons #btn2{
    width: 40%;
    height: 40px;
    border-radius: 18px;
    border: 2px solid rgb(255, 136, 0);
    color: orange;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
}
.div4{
    width: 40%;
    height: 270px;
    border-radius: 20px;
    background-image: url('teams-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
